@import url(/components/mixins.css);
@import url(/components/reset.css);
 
@mixin mobile {
    @media ( min-width: 600px){ @content; }
}
@mixin tablet {
    @media ( min-width: 768px){ @content; }
}
@mixin latop {
    @media ( min-width: 1024px){ @content; }
}
@mixin high-res {
    @media ( min-width: 1444px){ @content; }
}

.header{
    display: flex;
    justify-content: center;
    position: fixed;
    background-color: white;
    z-index: 4;
    width: 100%;
}
.header_center{
    padding: 1.5rem;
    width: 100%;
    
   
    @include mobile {
        display: flex;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
    }
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_img{
    width: 100px;
    height: auto;
}
.header_svg{
    width: 30px;
    height: 30px;
    @include mobile () {
        display: none;
    }
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    width: 100%;
    height: 0vh;
    transition: all 0.3s ;
    

    @include mobile ( ){
        height: 100%;
        flex-direction: row;
        justify-content: flex-end;
        
        
    }
    
}
.activo{
    
    height: 100vh;
}
.header_ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 0;
    background-color: rgb(255, 255, 255);
    @include mobile (){
        flex-direction: row;
        padding: .7rem 0;
    }
    
}
.header_li{
    padding: .7rem 0;
    font-weight: 600;
    @include mobile (){
        padding: 0 .7rem;
    }
}
.nav_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    @include mobile (){
        display: none;
    }
}
.nav_info_rrss{
    display: flex;

}
.nav_info_rrss img{
    width: 30px;
    margin-left: 1rem;
    margin-top: 1.5rem;

}

.portada{

    background-image: url("https://cdn.pixabay.com/photo/2020/04/06/18/48/madrid-5010803_1280.jpg");
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem ;
    animation-name: desplazamiento;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    filter: saturate(0%);
    @include tablet(){
        height: 70vh;
    }
    

    
    

}
@keyframes desplazamiento{
    0%{ background-position:  right;
        
    }
    50%{ background-position: center;
        background-image: url("https://cdn.pixabay.com/photo/2019/02/12/19/52/madrid-3993066_1280.jpg");
         

    }
    100%{ background-position:  left;
        background-image: url("https://cdn.pixabay.com/photo/2018/09/01/12/27/crystal-palace-3646683_1280.jpg");
    }
}
.portada p{
    font-size: 2rem;
    font-weight: 300;
    padding: 0 1rem;
    color: white;
    line-height: 3rem;
    text-shadow: 1px 1px 5px black;
    @include mobile (){
        max-width: 70%;
        
    }
    @include latop (){
        max-width: 50%;
    }
    @include high-res (){
        max-width: 30%;
    }
}

.nosotros{
    padding: 4rem 1.5rem;
    @include mobile (){
        max-width: 1200px;
        margin: 0 auto;
    }
    
}
.nosotros_h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.nosotros_text{
    margin-top: 2rem;
}

.servicios{
    @include mobile (){
        max-width: 1200px;
        margin: 0 auto;
    }
    
}
.servicios_p{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0 1.5rem;
}
.servicios_container{
    overflow: auto;
    scroll-snap-type: x mandatory;
    padding-left: 1.5rem;
   
    

}
.servicios_container>div{
    margin-top: 1rem;
    width: fit-content;
    display: flex;
    padding-top: 2rem;
    padding-bottom: 5rem ;
    
    @include latop (){
        width: 100%;
        padding-right: 1rem;
    }
    
}
.servicios_square{
    width: 20rem;
    height: 25rem;
    margin-right: 2rem;
    border-radius: 13px;
    scroll-snap-align: center;
    background: #ffffff;
    box-shadow:  20px 20px 40px #e0e0e0,
             -20px -20px 40px #ffffff;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    @include latop(){
        height: 30rem;
    }
    @include high-res(){
        height: 25rem;
    }
}
.square_imagen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.square_imagen p{
    margin-top: 1.5rem;
    
}
.square_imagen img{
    max-width: 6rem;
}
.square_btn{
    margin: 1rem 0;
    background-color: blue;
    color: white;
    border-radius: .3rem;
    padding: 1rem;
}

.contacto{
    margin-top: 2rem;
    padding: 0 1.5rem ;
    margin-bottom: 10rem;
    @include mobile(){
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
    }
}
.contacto_img{
    display: none;
    
    @include tablet(){
        display: block;
        background-image: url("https://cdn.pixabay.com/photo/2020/05/10/19/07/gloves-5155220_1280.jpg");
        background-position: center;
        width: 70%;
        height: 600px;
        border-radius: .3rem;
        position: absolute;
        top: 150px;
        right: 50px;
        z-index: 1;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.contacto_img p{
    display: none;
    @include latop(){
        display: block;
        width: 50%;
        text-shadow: 1px 1px 3px black;
        font-size: 2rem;
        font-weight: 400;
        line-height: 2.5rem;
    }
}
.contacto_h2{
    font-size: 1.5rem;
    font-weight: 600;
}
.contacto_form{
    margin-top: 2rem;
    @include mobile(){
        margin-top: 4rem;
        background-color: white;
        border-radius: .3rem;
        width: 350px;
        height: 100%;
        box-shadow:  20px 20px 40px -10px #2525257d;     
        padding: 2rem;
        z-index: 2;
        position: relative;
    }
}
.contacto_form_input{
    border: 1px solid rgba(0, 0, 0, 0.734);
    border-radius: .3rem;
    margin: 1.5rem 0;
    width: 100%;
    padding: 1rem;
    @include mobile(){
        border: 1px solid rgba(0, 0, 0, 0.734);
        border-radius: .3rem;
    }
    @include tablet(){
        margin: .5rem 0;
        padding: .3rem;
    }
}
.size{
    height: 7rem;
}
.contacto_form_submit{
    background-color: blue;
    border-radius: .3rem;
    padding: 1rem;
    color: white;
    width: 10rem;
    margin-top: 3rem;
}
.footer{
    width: 100%;
    height: 500px;
    background-color: black;
    margin-top: 10rem;
}